<!DOCTYPE html>
<html>
<head>
	<title>Twito | Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<style>

	</style>


</head>
<body>

	<header>

		<div class="navbar navbar-default" >
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand" style="color:darkblue">Twito | HomePage</a>
				</div>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container">
				<h1 style="color:darkblue">Welcome!!</h1>
				<h2 style="color:darkblue">Enter Your Application Data</h2>

			</div>
		</div>
	</header>

	<div>
		<div class="container">
			<form action="" method="POST">{% csrf_token %}
                <div class="form-group">
					<label for="application_name">Enter Name of Application</label>
					<input type="text" id="application_name" class="form-control">
				</div>
				<div class="form-group">
					<label for="consumerkey">Enter ConsumerKey</label>
					<input type="text" id="consumerkey" class="form-control">
				</div>
				<div class="form-group">
					<label for="consumertoken">Enter ConsumerToken</label>
					<input type="text" id="consumertoken" class="form-control">
				</div>

			<p class="help-block">Login to check your Twitter Account Activity</p>
			</form>
            <button type="button" class="btn btn-lg btn-primary">
                Register Application
            </button>
		</div>
	</div>


	<!-- Latest compiled and minified JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>
</html>