amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.0
args==0.1.0
billiard==3.3.0.23
celery==3.1.25
clint==0.5.1
decorator==4.0.11
defusedxml==0.5.0
Django==1.10.5
django-allauth==0.30.0
django-celery==3.2.1
djangorestframework==3.5.4
gitdb2==2.0.0
GitPython==2.1.1
gunicorn==19.6.0
ipython==5.2.2
ipython-genutils==0.1.0
kombu==3.0.37
legit==0.4.1
oauthlib==2.0.1
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python3-openid==3.0.10
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
smmap2==2.0.1
tablib==0.11.4
traitlets==4.3.1
tweepy==3.5.0
wcwidth==0.1.7
